<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="#">
    <link rel="stylesheet" href="/css/style.css" />
    
    <title>Weather</title>
  </head>
  <body>
    <div class="main">
      {{>header}}
       <h3>Use This Site To Get Your Weather</h3>
       <form action="">
         <input type="text" name="" id="" placeholder="Location">
         <button>Search</button>
       </form>

       <p class="message-one"></p>
       <p class="message-two"></p>

    </div>
    {{>footer}}
    <script src="/JS/index.js"></script>
  </body>
</html>


{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Created by {{name}}</p> --}}
{{!-- <h3>{{title}}</h3> --}}